<div id="container">
  <div id="eventForm">
      <form  #eventForm="ngForm">      
            <input type="file" name="image" (change)="selectImage($event)" />
          <br>
          <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="Selected Image" style="max-width: 300px;">
          </div>
  
          <input type="text" placeholder="Tên Sự Kiện" [(ngModel)]="eventName" [ngModelOptions]="{standalone: true}">
          <textarea placeholder="Mô Tả Sự Kiện" [(ngModel)]="eventDescription" [ngModelOptions]="{standalone: true}">
          </textarea>

          <mat-form-field>
            <mat-label>Thời gian sự kiện</mat-label>
            <input matInput [matDatepicker]="dp3" [(ngModel)]="eventDate" [ngModelOptions]="{standalone: true}">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field>

          <input type="number" placeholder="Số Lượng Xe" [(ngModel)]="vehicleCount" [ngModelOptions]="{standalone: true}">
          <button (click)="onSubmit()">Thêm Sự Kiện</button>
      </form>
  </div>
</div>
