
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event List</title>
</head>
<body>
<h1>Danh sách sự kiện</h1>

<!-- Form để nhập thông tin -->
<div id="eventForm">
  <input type="file" id="imageInput" accept="image/*"> <!-- Thay đổi type từ "url" thành "file" và thêm accept="image/*" để chỉ cho phép chọn các file hình ảnh -->
  <input type="text" id="eventNameInput" placeholder="Tên Sự Kiện">
  <textarea id="eventDescriptionInput" placeholder="Mô Tả Sự Kiện"></textarea>
  <input type="number" id="vehicleCountInput" placeholder="Số Lượng Xe">
  
  <input type="datetime-local" id="startDateInput" placeholder="Ngày Bắt Đầu" [min]="currentDate">


    <input type="datetime-local" id="endDateInput" placeholder="Ngày Kết Thúc" [min]="currentDate">
    
  <button onclick="addEvent()">Thêm Sự Kiện</button>
</div>

<ul id="eventList">
  <!-- Danh sách sự kiện sẽ được thêm vào đây bằng JavaScript -->
</ul>

<script src="scripts.js"></script>
</body>
</html>


<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="image" (change)="selectImage($event)" />
    </div>
    <br>
    
    <div *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Selected Image" style="max-width: 300px;">
    </div>
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>

<hr>
<!-- <h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form> 
</div>-->

