<p>
    <mat-toolbar  class="custom-toolbar">
      <mat-toolbar-row>
        <a href="/"><img src="assets/logo.png" alt="Hutech logo" class="brand-logo"></a>
        <span class="spacers"></span>
        <button mat-button (click)="goToHome()">Home</button>
        <button mat-button (click)="goToEvenPage()">Even Now</button>
        <button mat-button (click)="goToNearGarage()">Nhà xe xung quanh</button>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <app-google-login></app-google-login>
        </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  