<p>
    <mat-toolbar  class="custom-toolbar">
      <mat-toolbar-row>
        <a href="/"><img src="assets/logo.png" alt="Hutech logo" class="brand-logo"></a>
        <span class="spacers"></span>
        <button mat-button (click)="goToHome()">Home</button>
        <button mat-button (click)="goToNewEventPage()">New Event </button>
        <button mat-button (click)="goToEventPage()">Event</button>
        <button mat-button (click)="goToNearGarage()">Nhà xe xung quanh</button>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item>Quản Lý</button>
          <!-- <button mat-menu-item></button> -->
          <app-google-login></app-google-login>
        </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  