<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Campus AB</h2>


<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Actual number of vehicles in the parking garage: {{ ticket$ |async}}/2000</h2>

    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>

<app-garage-timeline></app-garage-timeline>