.block{
        display: flex;
        background-color: hsl(210, 24%, 18%);
        justify-content: space-around;
        padding: 25px;
        color: #fff;
   }

   a{
    color: #fff;
    text-decoration: none;
   }