<div >
        <div class="block">
            <div >
                <div><b>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ TP.HCM (HUTECH)</b></div>
                <div><b class="truso">Sai Gon Campus:</b> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</div>
                <div class="coso"><b>Ung Van Khiem Campus:</b> 31/36 Ung Văn Khiêm, P.25, Q.Bình Thạnh, TP.HCM</div>
                <div class="coso"><b>Thu Duc Campus:</b> Khu Công nghệ cao TP.HCM, Xa lộ Hà Nội, P.Hiệp Phú, TP.Thủ Đức, TP.HCM</div>
                <div class="coso"><b>Hitech Park Campus:</b> Khu Công nghệ cao TP.HCM, Đường D1, P.Long Thạnh Mỹ, TP.Thủ Đức, TP.HCM</div>
                <div><b>Điện thoại:</b> (028) 5445 7777 - <b>Email:</b> hutech&#64;hutech.edu.vn</div>
            </div>
            <div data-includehtml="https://www.hutech.edu.vn/page/html/social.txt">
                <div >
                <a href="//www.hutech.edu.vn/">Trang Chủ</a> | <a href="//www.hutech.edu.vn/homepage/lien-he/so-do-den-truong">Sơ Đồ</a> | <a href="//www.hutech.edu.vn/homepage/dong-gop-y-kien">Liên Hệ</a>
                <br>
                <a href="https://zalo.me/84421131520127076" target="_blank">
                <img class="icon-lien-he-zalo" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <a href="https://www.instagram.com/hutechuniversity/" target="_blank">
                <img class="icon-lien-he-instagram" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <a href="https://www.tiktok.com/@hutechuniversity" target="_blank">
                <img class="icon-lien-he-tiktok" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <a href="https://www.facebook.com/hutechuniversity">
                <img class="icon-lien-he-facebook" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <a href="https://twitter.com/hutechvietnam" target="_blank">
                <img class="icon-lien-he-twice" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <a href="https://www.youtube.com/c/HUTECHChannel" target="_blank">
                <img class="icon-lien-he-youtube" src="https://www.hutech.edu.vn/images/img_blank.gif">
                </a>
                <!--<a href="#" target="_blank">
                    <img class="icon-lien-he-blog" src="/images/img_blank.gif" />
                    </a>
                    <a href="#" target="_blank">
                    <img class="icon-lien-he-tum" src="/images/img_blank.gif" />
                    </a>-->
                <br> Bản quyền <span style="font-size: small;"><a href="https://www.hutech.edu.vn/admin"><strong>©</strong></a></span> 
                <span id="namfooter">2024</span>
                <script type="text/javascript">
                    //document.write(new Date().getFullYear());
                    $('#namfooter').append(new Date().getFullYear())
                </script>
                <a rel="author" href="https://plus.google.com/u/0/+hutech">HUTECH</a>
                </div>
                <style>
                .icon-lien-he-zalo {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -743px -113px transparent;
                height: 25px;
                width: 25px;
                }
                .icon-lien-he-instagram {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -774px -113px transparent;
                height: 25px;
                width: 25px;
                }
                .icon-lien-he-tiktok {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -804px -113px transparent;
                height: 25px;
                width: 25px;
                }
                .icon-lien-he-facebook {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -835px -113px transparent;
                height: 25px;
                width: 25px;
                }
                .icon-lien-he-twice {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -866px -113px transparent;
                height: 25px;
                width: 25px;
                }
                .icon-lien-he-youtube {
                background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -897px -113px transparent;
                height: 25px;
                width: 25px;
                }
                </style>
            </div>
        </div>
    </div>