<mat-stepper orientation="vertical">
  <div *ngFor="let item of scheduleData.schedule">
    <mat-step >
      <ng-template matStepLabel>{{ item.shift }}: {{ item.time }}</ng-template>
      <ng-template matStepContent>
        <p>Dự đoán lượng xe trong ca {{ item.shift }}</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>

  </div>
</mat-stepper>
    