
.example-card {
    width: 400px;
    height: 650px; /* Đặt kích thước cố định cho thẻ */
    max-width: 100%; /* Đảm bảo thẻ không vượt quá kích thước tối đa đã định */
    max-height: 100%; /* Đảm bảo thẻ không vượt quá kích thước tối đa đã định */
    overflow: hidden; /* Ẩn phần nội dung vượt quá kích thước đã định */
    position: relative;
}
.mat-card-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .square-image-container {
    width: 100%;
    height: 0;
    padding-top: 100%; /* Tạo kích thước hình vuông */
    overflow: hidden; /* Ẩn phần thừa nếu có */
    position: relative; /* Thiết lập vị trí tương đối để căn chỉnh hình ảnh */
  }
  
  .square-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
    position: absolute; /* Thiết lập vị trí tuyệt đối để căn giữa */
    top: 0;
    left: 0;
  }
  